<h2>Welcome to IFEBS</h2>
<div><a href="<?=rtrim(getenv("WELCOME_HOST"), '/')?>/u">Complete your registration</a></div>

<?php if (!empty($password)): ?>
    Your password: <b><?=$password?></b>
<?php endif ?>